// Color Variables
$color-grey: #777; 
$color-bluegreen:#58e1c1;
$color-babyblue: #51ddfc; 
$color-error: #e4757a; 
$color-info: #927bc1;
$color-success: #63cc82;
$color-warning: #fd7856; 
$white: #fff;
$color-col3:  #deb2ee;
$color-col4:  #7ee6fd;
$color-col5: #88d9a0;
$color-col6: #4da2bb;
$color-col7: #ec9fa3;
$color-col8: #fd9f85;
$color-col12 : #80e8d1;

//Media Query Breakpoints

$brk-tablet: '(max-width: 768px )';